.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar li a{
    display:block;
    text-decoration: none;
    padding: 15px;
    color: white;
    text-align: center;
}

.navbar li a:hover{
    background-color: black;
}

.active-tab{
    background-color: green;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .navbar li{
        float: none;
    }
    .container{
        display: block;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
  }

.welcome-img{
    width: 100%;
    height: 100%;
    text-align: center;
}

.about-img{
    width:30%;
    height:30%;
    border-radius: 50%;
    margin-top: 1vw;
}

.container{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.container-left-align{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

.contact-handles{
    width: 5%;
    height: 5%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.grid-item{
    margin: 1vw;
}

.grid-item img{
    width: 100%;
    height: 100%;
}
